<!DOCTYPE html>
<html>
<head>
	<title>index</title>
	<link rel="stylesheet" type="text/css" href="../CSS/semantic.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css"> -->
</head>
<body>
	<div align="center">
		<button id="btnCreate" class="ui blue button" onclick="location.href='./createActivity.html'">建立活動</button>
		<button id="btnInfo" class="ui red button" onclick="location.href='./search.html'">查詢活動</button>
		<button id="btnInfo" class="ui grey button" onclick="location.href='./info.html'">活動資訊</button>
		<button id="btnJoin" class="ui green button" onclick="location.href='./activiyArti.html'">參加活動</button>
		
	</div>
</body>
</html>